<h1 class="title">Our products</h1>

<div class="products-container">
{{#each products}}
    <div class="card-product-item">
        <h2>{{this.title}}</h2>
        <p>{{this.description}}</p>
        <span>${{this.price}}</span>
    </div>
{{/each}}
</div>

<div class="link">
    <a href="/realtimeproducts">View Products in Real Time</a>
</div>

