<h1 class="title">Products in real time</h1>

<div id="card-products-container" class="products-container">

    {{#each products}}
    <div class="card-product-item">
        <h2>{{this.title}}</h2>
        <p>{{this.description}}</p>
        <span>${{this.price}}</span>
        <button onclick="deleteProduct('{{this.id}}')" class="btn-delete">Eliminar Producto</button>
    </div>
    {{/each}}
</div>


<form id="add-product-form" class="form-add-product" action="/realtimeproducts" method="post">
    <input type="text" id="product-title" placeholder="Title" required>
    <input type="text" id="product-description" placeholder="Description" required>
    <input type="number" id="product-price" placeholder="Price" required>
    <input type="number" id="product-stock" placeholder="Stock" required>
    <input type="text" id="product-category" placeholder="Category" required>
    <button type="submit" class="btn-add">Agregar Producto</button>
</form>

<a href="/">Volver al inicio</a>

<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io();

    socket.on('update-products', (products) => {
        const productsContainer = document.getElementById('card-products-container');
        productsContainer.innerHTML = '';

        products.forEach(product => {
            const productElement = document.createElement('div');
            productElement.classList.add('card-product-item');
            productElement.innerHTML = `
                <h2>${product.title}</h2>
                <p>${product.description}</p>
                <span>$${product.price}</span>
                <button onclick="deleteProduct('${product.id}')" class="btn-delete">Eliminar Producto</button>
            `;
            productsContainer.appendChild(productElement);
        });
    });

    document.getElementById('add-product-form').addEventListener('submit', async (event) => {
        event.preventDefault();
        const title = document.getElementById('product-title').value;
        const description = document.getElementById('product-description').value;
        const code = Date.now().toString(30);
        const price = document.getElementById('product-price').value;
        const stock = document.getElementById('product-stock').value;
        const category = document.getElementById('product-category').value;

        const newProduct = { title, description, code, price, stock, category };

        // Enviar el nuevo producto al servidor
        socket.emit('new-product', newProduct);
    });

    function deleteProduct(productId) {
        console.log(`Eliminando producto con ID: ${productId}`);
        socket.emit('delete-product', productId);
    }
</script>