body {
    background-color: #faebd7;
}
.title {
    text-align: center;
}

.card {
    border: 2px solid #f5dbb8;
    border-radius: 5px;
    padding: 16px;
    margin: 16px;
    max-width: 300px;
    display: inline-block;
}

.card h2 {
    font-size: 20px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.card p {
    font-size: 14px;
}

.card span {
    font-size: 16px;
    font-weight: bold;
    color: green;
}