body {
    background-color: #faebd7;
}

.title {
    text-align: center;
}

.link {
    text-align: center;
    margin-top: 30px;
    font-size: 18px;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-product-item {
    border: 2px solid #f5dbb8;
    border-radius: 5px;
    padding: 16px;
    margin: 16px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
}

.card-product-item h2 {
    font-size: 20px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.card-product-item p {
    font-size: 14px;
}

.card-product-item span {
    font-size: 16px;
    font-weight: bold;
    color: green;
}

/* BTN */
.btn {
    border-radius: 5px;
    padding: 5px;
    margin-top: 15px;
}

/* FORMULARIO */
.form-add-product {
    display: flex;
    flex-direction: column;
    width: 250px;
    gap: 15px;
    margin: auto;
}
.form-add-product h2 {
    text-align: center;
}

.form-add-product input {
    padding: 5px;
}
